<h3 align="center">Student Information</h3>
<div class="container">
	<div class="row">
		<div class="card-panel">
			<div class="container">
				<blockquote>We know you are a brillant hacker save you skills for the interviews.<br/>
					P.S. Don't dont show your hacking abilities here</blockquote>
			<%= form_for @student, url: {action: "create"} do |f| %>
					Name
					<%= f.text_field :name  %><br/>
					Roll No.
					<%= f.text_field :roll_no %><br/>
					Email
					<%= f.email_field :email %><br/>
					Department
					<%= f.text_field :dept %><br/>
					Phone Np.
					<%= f.text_field :phone %><br/>
					CGPA
					<%= f.text_field :cgpa %>
					<br/>
					<%= f.submit "Create" ,class: "btn btn-primary"%>
			<% end %>
		</div>
	</div>
</div>
</div>
